/* 
   Schedule page styling
   ========================================================================== */

.page {
  article {
    .class-card {
      border: 1px solid #dddddd;
      border-radius: 5px;
      margin-bottom: 1em;

      &-header {
        background: #cce9f4;
        padding: 0.5em 1em;
        border-bottom: 1px solid #dddddd;

        h3 {
          margin: 0;
          line-height: 1.2;
        }
      }

      &-content {
        padding: 0.7em 1em;
      }
    }

    .due-section,
    .materials-section {
      h4 {
        margin: 0.3em 0;
        font-size: 1em;
        line-height: 1.2;
        font-weight: normal;
        color: #575757;
      }

      ul {
        margin: 0.3em 0;
        font-size: 0.9em;
      }

      li {
        margin-bottom: 0.2em;
        line-height: 1.3;
      }
    }

    .week-due-section {
      margin: 1em 0;
      padding: 0.7em 1em;
      background: #fff6e1;
      border: 1px solid #fae39b;
      border-radius: 5px;

      h4 {
        font-size: 1em;
        line-height: 1.2;
        font-weight: normal;
        color: #575757;
        margin: 0 0 0.3em 0;
      }

      ul {
        margin: 0.3em 0;
      }

      li {
        margin-bottom: 0.2em;
        line-height: 1.3;
      }
    }
  }
}
